* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
header {
  background-image: url(../../images/background.img.jpeg);
  color: white;
}
.container {
  padding-bottom: 60px;
}
.nav-bar {
  background-image: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.9999999999999999) 85%,
    rgba(0, 0, 0, 0.9999999999999999) 100%
  );
  color: white;
  display: flex;
  align-items: center;
  margin-left: 50px;
  padding-top: 30px;
  font-weight: bold;
  font-size: large;
  gap: 500px;
}
ul {
  display: flex;
  list-style-type: none;
  gap: 60px;
  margin-left: 100px;
}
h1 {
  font-size: 75px;
  padding-bottom: 20px;
}
.main-heading {
  margin-left: 50px;
  padding-top: 80px;
}

button {
  color: white;
  background-color: rgb(243, 77, 77);
  width: 150px;
  height: 30px;
  border-radius: 50px;
  font-weight: bold;
  margin-top: 30px;
  margin-bottom: 96px;
  border-style: none;
}
.container1 {
  background-color: bisque;
  color: red;
  padding-top: 56px;
  padding-bottom: 100px;
  position: relative;
}
.main-text1 h2 {
  text-align: center;
  font-size: 50px;
  padding-top: 20px;
  padding-bottom: 20px;
}
.main-text1 p {
  text-align: center;
}
.box1 {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-image: url(../../images/BOX1.png);
  background-size: cover;
  /* margin-top: 80px; */
  margin-left: 50px;
}
h3 + p {
  margin-left: 90px;
  font-size: small;
}
h3 {
  margin-left: 50px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.box2 {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-image: url(../../images/BOX2.png);
  background-size: cover;
  /* margin-top: 80px; */
  margin-left: 50px;
}
.box3 {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-image: url(../../images/BOX3.png);
  background-size: cover;
  /* margin-top: 80px; */
  margin-left: 50px;
}
.boxes {
  display: flex;
  justify-content: center;
  gap: 100px;
  margin-top: 80px;
  padding-bottom: 100px;
}

.burger {
  position: absolute;
  top: 50px;
  right: 90px;
}
.lasun {
  position: absolute;
  top: 50px;
  left: 300px;
}
.french {
  position: absolute;
  bottom: 270px;
  left: -20px;
}
.Shimlamirch {
  position: absolute;
  right: 30px;
  bottom: 200px;
}
.patta {
  position: absolute;
  left: 500px;
  bottom: 70px;
}
.masroom {
  position: absolute;
  right: 450px;
  bottom: 70px;
}
.section2 {
  padding-top: 100px;
  background-color: #f64b3c;
  padding-bottom: 100px;
}
.container2 {
  display: flex;
  justify-content: center;
  gap: 200px;
  /* padding-top: 100px; */
  padding-bottom: 100px;
}
.main-text2 {
  color: white;
  align-items: center;
}
[class="main-text2"] button {
  background-color: white;
  color: #f64b3c;
  font-size: medium;
  font-weight: bold;
}
.main-text2 h2 {
  /* padding-top: 60px; */
  text-align: center;
  font-size: 50px;
  padding-top: 50px;
  padding-bottom: 20px;
}
.tarun {
  width: 300px;
  height: 300px;
  background: url(../../images/burger1.png) center center/cover;
  border-radius: 50%;
  border: 1px solid blue;
}
.container3 {
  background-color: bisque;
  color: #f64b3c;
  display: flex;
  justify-content: center;
  gap: 100px;
}
.tarun2 {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  border: 1px solid blue;
  background: url(../../images/burger1.png) center center/cover;
}
.main-text3 {
  padding-right: 50px;
}
.main-text3 h2 {
  /* padding-top: 60px; */
  text-align: center;
  font-size: 50px;
  padding-top: 50px;
  padding-bottom: 20px;
}
